<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Distanbol</title>
</head>
<body>

<div>
    Put your Stanbol json output URL as a query:
    <pre><code>https://curate.hephaistos.arz.oeaw.ac.at/Distanbol?URL={URL of your Stanbol output in json}</code></pre>
    <br>
    Example:
    <a href="https://curate.hephaistos.arz.oeaw.ac.at/Distanbol?URL=https://curate.hephaistos.arz.oeaw.ac.at/Distanbol/example/example.json">
        <pre><code>https://curate.hephaistos.arz.oeaw.ac.at/Distanbol?URL=https://curate.hephaistos.arz.oeaw.ac.at/Distanbol/example/example.json</code></pre>
    </a>

</div>

</body>
</html>